AVIATIONSTACK_API_KEY=your_api_key_here
AVIATIONSTACK_BASE_URL=https://api.aviationstack.com/v1

POSTGRES_HOST=postgres
POSTGRES_DB=flights_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_PORT=5432